.videoCard{
    width:30vmax;
    height:48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat;
    background-size: cover;
    margin: 0.5vmax;
    cursor: pointer;
}

.videoCard a{
    padding:2vmax;
    transition: all 0.5s;
    border: none;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.096);
    
}

.videoCard a svg{
    fill: white;
}

.videoCard:hover a{
    padding:2.5vmax;
    background-color: rgba(255,255,255,0.671);
    color: white;
}

.videoCard p{
    color: white;
    margin: 1vmax;
}

@media(max-width: 767px){
    .videoCard{
        width: 100%;
        margin: 0;
        background-size: contain;
    }
}